.free-call {
    padding: 114px 0 124px;
    background-color: $brand-green;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 300px;
		height: 400px;
		background: url(./assets/img/decoration-left.svg);
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 300px;
		height: 400px;
		background: url(./assets/img/decoration-right.svg);
	}

	.container {
		display: flex;
    	flex-direction: column;
		align-items: center;

		h2 {
			color: $brand-white;
			margin-bottom: 26px;
		}

		p {
			color: $brand-white;
			margin-bottom: 18px;
		}

		.btn {
			max-width: 258px;
			background-color: #FAB5A0;
			color: $brand-green;

			&:hover {
				color: $btn-bg;
				background-color: $brand-white;
			}

			&:active {
				background-color: #f7bc28;
			}
		}
	}
}
