header {
	background-color: $brand-green;
    padding: 20px 0;

	.container {
		display: flex;

		.header__nav {
			margin-left: auto;
		}

		.header__list {
			display: flex;
		}

		.header__item {
			margin-right: 24px;
			list-style: none;
		}

		.header__link {
			color: $brand-white;
			text-decoration: none;

			&:hover {
				color: #198c36;
				text-shadow: 1px 1px 1px #e5efe8;
			}
		}
	}
}
