.hr-connections {
    padding: 180px 0 120px;

	.container {
		display: flex;
		justify-content: center;
	}

	&__text {
		max-width: 391px;
    	justify-content: center;
    	display: flex;
    	flex-direction: column;
		margin-right: 98px;

		h2 {
			margin-bottom: 20px;
		}
	}
}
