///fonts///
$font-primary: 'NotoSans';
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$body-bg: #fff;
$brand-white: #FBFAF7;
$brand-green: #163A24;
$btn-bg: #198C36;
$grey-bg: #F2EFE6;
