<section class="clerksy-price">
	<div class="container">
		<div class="clerksy-price__text">
			<h2>It's easy as 1, 2, 3</h2>
			<p>Clerksy can help use your unique business needs. Here's how:</p>
		</div>
		<div class="clerksy-price__three-steps">
			<div class="clerksy-price__step clerksy-price__step_first">
				<p>Fill out a form and tell us what you're looking for:</p>
				<h3>5 minutes</h3>
			</div>
			<div class="clerksy-price__step clerksy-price__step_second">
				<p>Time it will take a Clerksy rep to follow up:</p>
				<h3>24 hours</h3>
			</div>
			<div class="clerksy-price__step clerksy-price__step_third">
				<p>Take advantage of our monthly plans staring at:</p>
				<h3>$969 USD</h3>
			</div>
		</div>
		<button class="btn">Book Free Discovery Call</button>
	</div>
</section>
