<section class="hr-production">
	<div class="container">
		<h2>HR Production of the Highest Quality</h2>
		<div class="hr-production__content">
			<div class="hr-production__content-quality">
				<img src="./assets/img/img-quality1.svg" alt="quality1">
				<p>Educates & Informs</p>
				<p>Employee Expectations</p>
			</div>
			<div class="hr-production__content-quality">
				<img src="./assets/img/img-quality2.svg" alt="quality2">
				<p>Protects Your Business</p>
				<p>Just in Case</p>
			</div>
			<div class="hr-production__content-quality">
				<img src="./assets/img/img-quality3.svg" alt="quality3">
				<p>Manages & Stores</p>
				<p>Important Documents</p>
			</div>
			<div class="hr-production__content-quality">
				<img src="./assets/img/img-quality4.svg" alt="quality4">
				<p>Create a Healthy</p>
				<p>Work Environment</p>
			</div>
		</div>
	</div>
</section>
