<section class="hr">
	<div class="container">
		<div class="hr__wrapper">
			<img src="./assets/img/img-hr1.svg" alt="woman in a hat">
			<div class="hr__wrapper-text">
				<h2>Put the human back in HR.</h2>
				<p>Your employees are the real stars. Show the love and help them perform!</p>
			</div>
		</div>
		<div class="hr__wrapper">
			<div class="hr__wrapper-text">
				<h2>You don’t have to play all the parts.</h2>
				<p>Sales, accounting, HR— Oh My! You can’t do it all - let Clerksy help.</p>
			</div>
			<img src="./assets/img/img-hr2.svg" alt="man with camera and ball">
		</div>
		<div class="hr__wrapper-partner">
			<h2>We partner with the best</h2>
			<div class="hr__wrapper-partner-img">
				<img src="./assets/img/img-stripe.svg" alt="stripe">
				<img src="./assets/img/img-google.svg" alt="google">
				<img src="./assets/img/img-notion.svg" alt="notion">
				<img src="./assets/img/img-gusto.svg" alt="gusto">
				<img src="./assets/img/img-aircall.svg" alt="aircall">
			</div>
		</div>
	</div>
</section>
