<section class="interest">
	<div class="container">
		<div class="interest__text">
			<h2>Consider everyone's best interest</h2>
			<p>HR is for everyone. Clerksy can help you.</p>
		</div>
		<div class="interest__cards">
			<div class="interest__card">
				<img src="./assets/img/img-shield.svg" alt="shield">
				<h3>Protect Your Company</h3>
				<ul class="interest__list">
					<li class="interest__item">Compliance Audits & Training</li>
					<li class="interest__item">Employee Data Storage</li>
					<li class="interest__item">Policy Drafting</li>
				</ul>
			</div>
			<div class="interest__card">
				<img src="./assets/img/img-star.svg" alt="star">
				<h3>Set Your Employees Up For Success</h3>
				<ul class="interest__list">
					<li class="interest__item">Learning & Development</li>
					<li class="interest__item">Employee Relations</li>
					<li class="interest__item">Benefit Management</li>
					<li class="interest__item">Employee Performance</li>
				</ul>
			</div>
			<div class="interest__card">
				<img src="./assets/img/img-magnifier.svg" alt="magnifier">
				<h3>Know Your Industry's Legal Landscape</h3>
				<ul class="interest__list">
					<li class="interest__item">Work Place Investigations</li>
					<li class="interest__item">Employee Mediations</li>
					<li class="interest__item">Performance Trackingg</li>
				</ul>
			</div>
		</div>
	</div>
</section>
