<section class="clerksy-subscription">
	<div class="container">
		<div class="clerksy-subscription__text col-6">
			<h2>Stay up to date!</h2>
			<p>Sign up for the latest Clerksy news.</p>
		</div>
		<div class="clerksy-subscription__input col-6">
			<form action="">
				<input type="text">
				<button class="btn">Sign Up</button>
			</form>
			<p>By submitting your email you agree to receive updates about Clerksy. You can unsubscribe at any time. View our full <span>Privacy Policy</span>.</p>
		</div>
	</div>
</section>
